.preview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 15;
}
.preview__main {
  width: 100%;
  background-color: white;
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
}
.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  z-index: 10;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.preview__header__right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.preview__header__right > h1 {
  font-size: 1rem;
}
.preview__header__right > p {
  color: gray;
  font-size: 0.8rem;
}
.preview__header > button,
.preview__footer > button {
  outline: none;
  border: 1px solid var(--main-color);
  cursor: pointer;
  width: 100px;
  padding: 3px 10px;
  transition: all 1s;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 10px;
}
.preview__header > button:hover,
.preview__footer > button:hover {
  background-color: var(--main-color);
  color: white;
}

.preview__footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.preview__main__center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.preview__main__center > img,
.preview__main__center > video,
.preview__main__center > iframe {
  height: 70vh;
  object-fit: contain;
}
.preview__main__center > audio {
  width: 80%;
}
.preview__main__center > p {
  font-size: 0.8rem;
  color: var(--main-color);
}
