.change__password {
  width: 100%;
  background-color: white;
  user-select: none;
  user-zoom: none;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.change__password > div {
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.change__password > div > input {
  flex: 1;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 3px 10px;
}
.change__password > h1 {
  font-size: 1rem;
}
.change__password > div:last-of-type > input:first-of-type {
  margin-right: 10px;
}
.change__password > p {
  color: gray;
  font-size: 0.8rem;
}
.change__password > p:last-of-type {
  color: red;
}
.change__password > button {
  width: 200px;
  margin: 10px 0;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 5px;
  background: transparent;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 1s;
}
.change__password > button:hover {
  color: white;
  background-image: linear-gradient(to right, var(--main-color), white);
}
